@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  @apply bg-slate-100 text-slate-800 antialiased;
}
